@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  border: 2px solid black;
  background-color: #FFEE8C;
  padding: 2rem;
  min-width: 600px;
  min-height: 400px;
  width: 60%;
  text-align: center;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

#title {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientCycle 5s ease infinite;
}

@keyframes gradientCycle {
  0% { background-image: linear-gradient(45deg, #ff0000, #ff7300); }
  25% { background-image: linear-gradient(45deg, #ff7300, #fffb00); }
  50% { background-image: linear-gradient(45deg, #fffb00, #48ff00); }
  75% { background-image: linear-gradient(45deg, #48ff00, #00ffd5); }
  100% { background-image: linear-gradient(45deg, #00ffd5, #ff0000); }
}